html{
  background: url(img/frostmourne_by_chillalord-d5ka9vy.jpg)  no-repeat center center fixed; ;
  background-size: cover;
  background-color: #000813;
}

.wowhead-tooltip-powered{
  display: none!important;
}


.App {
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.App-wrap {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  min-width: 1024px;
  min-height: 768px;
  //background: lightblue;
  //opacity: 0.85

}

.flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.center {
  text-align: center;
}

.cont {
  padding: 60px 70px;
}
.server{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.servers{
  margin-bottom: 20px;
}
input {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #fff;
    opacity: 0.85;
}
.servers input{
  border: none;
  display: inline-block;
  width: auto;
  background: none;
}
.servers input::placeholder{
  color: #fff;
}

.servers input:active,
.servers input:focus {
  outline: none;
}
select {
  border-radius: 2px;
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;

}

select option {
  background: rgba(255, 255, 255, 0.85);
  color: #000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}



.autoComplite{
  color: #000;
  text-decoration: none;
}

.search {
  position: relative;
}

.search input{
  width: 313px;
  height: 38px;
  text-indent: 20px;
  border-radius: 5px;
  border-style: none;
  border: 1px solid #000;
  color: #000;
  outline: none;
}


.header {
  text-align: left;
  font-size: 18px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.modal{
  visibility: hidden;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.85);
}
.modal img{
  width: 100%;
}
.modal-content {
    position: absolute;
    background-color: #fff;
    max-width: 375px;
    max-height: 430px;
    left: 50%;
    top: 30%;
    opacity: 0;
    margin-top: -190px;
    margin-left: -180px;
    padding: 25px 35px 0;
    transition: ease-in-out 0.3s;
}
.open-modal {
    opacity: 1;
    top: 50%;
    transition: all 0.3s ease-in-out;
}
.modal-content h4 {
  font-size: 30px;
  text-align: center;
  font-family: "RobotoRegular" , sans-serif;
  opacity: 0.6;
  font-weight: normal;
  margin: 10px auto 20px;
}
.modal span{
  font-family: "RobotoBold", sans-serif;
  font-size: 13px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.modal input{
  display: block;
  margin: auto;
  width: 310px;
  height: 38px;
  text-indent: 20px;
  border-radius: 5px;
  border-style: none;
  border: 1px solid #000;
  color: #000;
  outline: none;
  margin-bottom: 20px;
}
.loginError {
  color: red;
  font-size: 13px;
}
.closePop{
  position: absolute;
  width: 35px;
  height: 35px;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.header-right {
  text-align: right;
}
.header-right a {
  display: inline-block;
  margin-left: 20px;
}
.time{
  color: #fff;
  opacity: 0.6;
  font-size: 13px;
  margin-top: 20px;
}
.header-left {
  float: left;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }

a {
  color: #fff;
  opacity: 0.85;
}

.main {
  margin: 40px auto;
}

.col-left {
  max-width: 312px;
  display: inline-block;
  float: left;
}

.items-table {
  width: 312px;
  min-height: 300px;
  border-radius: 5px;
  background: #fff;
  opacity: 0.85;
  border: 1px solid #000;
  position: relative;
}
button {
  margin: 20px auto 40px;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 40px;
  background: #CA0055;
  opacity: 1;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.col-right {
  width: 520px;
  min-height: 300px;
  border-radius: 5px;
  background: #fff;
  opacity: 0.85;
  border: 1px solid #000;
  display: inline-block;
  float: right;
  position: relative;
  overflow: hidden;
}

table {
  width: 100%;
  font-size: 16px;
  padding: 0px 25px 10px;
}

table a {
  color: #000;
  text-decoration: none;
}

thead{
  font-size: 12px;
  //background: #000;
  opacity: .8;
  color: #fff;
}

thead tr{
  height: 30px;
}


.icon {
  width: 25px;
  height: 25px;
  border: 1px solid #95989a;
  border-radius: 2px;
  vertical-align: middle;
}

.close {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

tbody tr {
  box-shadow: 0 1px 0 #95989a
}

th {
  text-align: left;
}

th:last-child {
  text-align: right;
}
.green {
  color: #2ee321;
}
.red {
  color: #ec0606;
}

.black_stripe {
  position: absolute;
  height: 32px;
  width: 100%;
  background: #000;
  opacity: 0.9;
  top: 0;
  z-index: -1;
}
.gold {
  padding-left: 2px;
}
.no-items-wrap {
  text-align: center;
  padding: 100px 0;
}

.no-results, .no-items {
  font-size: 20px;
  font-family: "RobotoRegular", sans-serif;
  color: #3C4248;
  position: relative;
}

.no-items::before {
  content: ' ';
  background: #000;
  position: absolute;
  width: 120px;
  height: 1px;
  top: -25px;
  left: calc(50% - (120px/2));
}

.no-items::after {
  content: ' ';
  background: #000;
  position: absolute;
  width: 120px;
  height: 1px;
  top: 50px;
  left: calc(50% - (120px/2));
}

.no-results::before {
  content: ' ';
  background: #000;
  position: absolute;
  width: 250px;
  height: 1px;
  top: -25px;
  left: calc(50% - (250px/2));
}

.no-results::after {
  content: ' ';
  background: #000;
  position: absolute;
  width: 250px;
  height: 1px;
  top: 50px;
  left: calc(50% - (250px/2));
}

@media (max-width: 1023px) {
  .flex{
    display: block;
  }
  .cont {
    padding: 30px 10px;
  }
  .col-left {
    display: block;
    float: none;
    margin: 0 auto;
  }
  .col-right{
    display: block;
    float: none;
    width: 100%;
  }
  .App-wrap {
    min-width: auto;
  }


}
@media (max-width: 500px){
  .header {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .header-left {
    margin: 0 auto;
  }
  .header-right {
    display: none;
  }
}

@media (max-width: 480px) {

  .cont {
    padding: 30px 0px;
  }
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
