@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
html{
  height: 100%;
  width: 100%;
}
body{
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100%;
}
.body_noScroll{
  overflow: hidden;
}
body::after{
  content:  '';
  background: url(img/frostmourne_by_chillalord-d5ka9vy.jpg)  no-repeat center center fixed; ;
  background-size: cover;
  background-color: #000813;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

*::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #999;
}
.noJS{
  color: #fff;
  margin: 20px auto;
}

.wowhead-tooltip-powered{
  display: none!important;
}
.contact-wrapper{
  max-width: 320px;
  margin: 0 auto;
}

h2{
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: center;
  font-family: "Roboto Slab";
  padding-left: 3px;
  font-size: 24px;
  color: rgb(230, 226, 229);
  position: relative;
}
h3{
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 13px;
  color: #fff;
  opacity: 0.85;
}
h2::after{
  position: absolute;
  content: ' ';
  width: 100px;
  height: 1px;
  color: #fff;
  background: #fff;
  top: 16px;
  right: 0;
}
h2::before{
  position: absolute;
  content: ' ';
  width: 100px;
  height: 1px;
  color: #fff;
  background: #fff;
  top: 16px;
  left: 0;
}


.App {
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.API_error {
  background: #000;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  color:#fff;
  font-size: 14px;
  line-height: 1.5;
  padding: 15px 0;
  z-index: 999;
  margin-top: -80px;
  transition: 0.3s all ease-in-out;
}
.API_error_open{
  margin-top: 0;
  cursor: pointer;
}

.App-wrap {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  min-width: 1024px;
  /* min-height: 768px;
  background: lightblue;
  opacity: 0.85 */
}

.flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.center {
  text-align: center;
}

.cont {
  padding: 30px 15px 60px;
}

.server{
  position: relative;
  margin-bottom: -12px /*fix for react-select*/;
  display: inline-block;
  cursor: pointer;
}

.servers{
  margin-bottom: 20px;
}
input {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #fff;
    opacity: 0.85;
}
.servers input{
  border: none;
  display: inline-block;
  width: auto;
  background: none;
}

.servers input:active,
.servers input:focus {
  outline: none;
}
select {
  border-radius: 2px;
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

select option {
  background: rgba(255, 255, 255, 0.85);
  color: #000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}



.autoComplite{
  color: #000;
  text-decoration: none;
}

.search {
  position: relative;
}

.search input{
  width: 313px;
  height: 38px;
  text-indent: 20px;
  border-radius: 5px;
  border-style: none;
  border: 1px solid #000;
  color: #000;
  outline: none;
  margin-top: 5px;
}


.header {
  text-align: left;
  font-size: 18px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-top: -43px;
}
.modal,
.tips_overlay{
  visibility: hidden;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.85);
}
.modal img{
  width: 100%;
}
.switchers{
  margin: 0px auto 20px;
}
.modal a{
  color: #000;
  opacity: .6;
  margin-right: 20px;
  text-decoration: none;
}
.modal a:hover{
  text-decoration: underline;
}
.active{
  opacity: 1!important;
  text-decoration: underline!important;
  transition: all .3s ease-in-out;
}

.modal-content {
    position: absolute;
    background-color: #fff;
    max-width: 375px;
    max-height: 430px;
    left: 50%;
    top: 30%;
    opacity: 0;
    margin-top: -190px;
    margin-left: -180px;
    padding: 25px 35px 0;
    transition: ease-in-out 0.3s;
}
.open-modal {
    opacity: 1;
    top: 50%;
    transition: all 0.3s ease-in-out;
}
.modal-content h4 {
  font-size: 30px;
  text-align: center;
  font-family: "RobotoRegular" , sans-serif;
  opacity: 0.6;
  font-weight: normal;
  margin: 10px auto 20px;
}
.modal span{
  font-family: "RobotoBold", sans-serif;
  font-size: 13px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.modal input{
  display: block;
  margin: auto;
  width: 310px;
  height: 38px;
  text-indent: 20px;
  border-radius: 5px;
  border-style: none;
  border: 1px solid #000;
  color: #000;
  outline: none;
  margin-bottom: 20px;
}
.error {
  color: red;
  font-size: 13px;
}
.closePop{
  position: absolute;
  width: 25px;
  height: 25px;
  top: 25px;
  right: 15px;
  cursor: pointer;
}
.logout{
  display: none;
  position: absolute;
  top: 25px;
  right: 60px;
  cursor: pointer;
}
.header-right {
  text-align: right;
  margin-left: auto;
}
.header-right a {
  display: inline-block;
  margin-left: 20px;
  line-height: 34px;
}
.time{
  color: #fff;
  opacity: 0.6;
  font-size: 13px;
  margin-top: 33px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }

a {
  color: #fff;
  opacity: 0.85;
}

.main {
  margin: 30px auto;
}

.col-left {
  max-width: 312px;
  display: inline-block;
  float: left;
}

.items-table {
  width: 312px;
  min-height: 300px;
  border-radius: 5px;
  background: #fff;
  opacity: 0.85;
  border: 1px solid #000;
  position: relative;
}
button {
  margin: 20px auto 40px;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 40px;
  background: #CA0055;
  opacity: 1;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.reset-btn{
  margin: 0;
  font-size: 12px;
  background: none;
  height: auto;
  font-weight: bold;
  text-align: right;
  border: 1px solid #fff;
  max-width: 46px;
}

.col-right {
  width: 520px;
  min-height: 300px;
  border-radius: 5px;
  background: #fff;
  opacity: 0.85;
  border: 1px solid #000;
  display: inline-block;
  float: right;
  position: relative;
  overflow: hidden;
}
.col-right a{
  cursor: default;
}
table a,
.draggable:hover{
  cursor: move;
}

table {
  width: 100%;
  font-size: 16px;
  padding: 0px;
}

table a {
  color: #000;
  text-decoration: none;
}
tr th:first-child{
  padding-left: 20px;
}
tr th:last-child{
  padding-right: 20px;
}

thead{
  opacity: .8;
  color: #fff;
}
thead tr th{
  padding: 8px 0;
}

thead tr{
  font-size: 12px;
  padding: 0;
  margin: 0;
  line-height: 32px;
}

.expand{
  display: none;
}
.expanded{
  background: #f2f2f2;
  padding: 0;
  margin: 0;
}
.expanded tr:last-child{
  box-shadow: none;
}
.expand-potion{
  padding: 0;
}

.have-potion{
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 0px 4px #000;
  width: 25px;
  height: 25px;
  cursor: pointer;
  vertical-align: middle;
}
.potion{
  margin-left: auto;
  text-align: center;
  align-self: center;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 4px #000;
}
.potion-open{
  box-shadow: none;
  border: 3px solid #fff;
  transition: all 0.2s ease-in-out;
}
.potion img{
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.potion-open img{
  box-shadow: inset 1px 1px 4px #000;
  border-radius: 2px;
}

.icon {
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 7px;
  /*background-image: url(img/no_img.jpg);*/
}

.close {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  cursor: pointer;
}

tbody tr {
  box-shadow: 0 1px 0 #95989a;
}
/* tbody tr:last-child{
  box-shadow: none;
} */
tbody th{
  padding: 4px 0;
}

th {
  text-align: left;
}

th:last-child {
  text-align: right;
}
.green {
  color: #2ee321;
}
.red {
  color: #ec0606;
}

.black_stripe {
  position: absolute;
  height: 51px;
  width: 100%;
  background: #000;
  opacity: 0.9;
  top: 0;
  left: 0;
  z-index: -1;
}
.gold {
  padding-left: 5px;
}
.no-items-wrap {
  text-align: center;
  padding: 115px 0;
  font-weight: normal;
}

.no-results, .no-items {
  font-size: 20px;
  font-family: "RobotoRegular", sans-serif;
  color: #3C4248;
  position: relative;
}

.no-items::before {
  content: ' ';
  background: #000;
  position: absolute;
  width: 120px;
  height: 1px;
  top: -25px;
  left: calc(50% - (120px/2));
}

.no-items::after {
  content: ' ';
  background: #000;
  position: absolute;
  width: 120px;
  height: 1px;
  top: 50px;
  left: calc(50% - (120px/2));
}

.no-results::before {
  content: ' ';
  background: #000;
  position: absolute;
  width: 250px;
  height: 1px;
  top: -25px;
  left: calc(50% - (250px/2));
}

.no-results::after {
  content: ' ';
  background: #000;
  position: absolute;
  width: 250px;
  height: 1px;
  top: 50px;
  left: calc(50% - (250px/2));
}
footer {
  background: #000;
  text-align: center;
  color: #fff;
  opacity: 0.7;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer p{
  margin: 0;
  font-size: 12px;
  line-height: 1.5;
}

footer {
  background: #000;
  text-align: center;
  color: #fff;
  opacity: .7;
  padding: 15px 0 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
footer p{
  margin: 0;
  font-size: 12px;
  line-height: 1.5;
}

/*flexbox tables*/
/* Fallbacks */

.table-container {
   display: table;
   font-size: 16px;
}
.table-container .row {
  display: table-row;
}

@supports(display: flex) {
.table-container {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.table-container a{
  color: #000;
  text-decoration: none;
}
.table-container .row {
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 0 #95989a;
}
.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.table-container .row .cell{
  flex: 1;
  -ms-align-self: center;
  align-self: center;
}
.group-left .cell:first-child{
  flex: 0 0 45px;
}
.group-right .cell:last-child,
.group-right-body .cell:last-child{
  text-align: right;
}
.flex-grow-3 {
  flex-grow: 3!important;
  display: flex!important;
}
.flex-grow-3 a{
  align-self: center;
}
.group {
  flex: 1;
  flex-direction: row;
  display: flex;
}
.group-left{
  flex-grow: 1.5;
}
.row-head {
  font-size: 12px;
  background: #000;
  opacity: 0.9;
  color: #fff;
}
.row-body {
  padding: 5px 20px;
}
.row-head{
  padding: 10px 25px;
}
.expand-open{
  margin-top: 1px;
  cursor: pointer;
}
.expand-open .row{
  background: #c2c2c2;
}
}

/*end flexbox tables*/


/* New left Column Flexbox Layout */
.search_header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  height: 36px;
  align-items: center;
  font-size: 12px;
  padding: 0 25px;
}
.items-table{
  font-weight: bold;
  overflow: auto;
}
.icon_c{
  flex-basis: 40px;
  align-items: center;
}
.name_c{
  flex: 1;
  align-self: center;
}
.close_c{
  align-self: center;
}
.name_c a{
  color: #000;
  text-decoration: none;
}
.search_row{
  margin: 0 25px;
  padding: 5px 0;
  box-shadow: 0 1px 0 #95989a;
  display: flex;
}
.draggable:last-child .search_row{
  box-shadow: none;
}


/*Tips block/need help */
.tips{
  display: flex;
  color: #dadfe1;
  font-size: 12px;
}
.tips_b{
  cursor: pointer;
  line-height: 18px;
}
.tips span img{
  width: 18px;
  height: 18px;
  padding: 0 10px 0 5px;
  vertical-align: bottom;
}
.tips_overlay{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
}
.tips_container{
  margin: 0 auto 0;
  max-width: 992px;
  height: 100%;
  position: relative;
}
.tips_realm{
  position: absolute;
  left: 160px;
  top: 40px;
}
.tips_realm img{
  vertical-align: sub;
}
.tips_item_name{
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 325px;
  top: 108px;
}
.tips_item_name img{
  align-self: center;
}
.tips_login{
  text-align: right;
  position: absolute;
  right: 0;
  top: 60px;
}
.tips_watch_list{
  position: absolute;
  left: 0px;
  top: 225px;
  display: flex;
}
.tips_watch_list_text{
  padding: 0 10px;
}
.tips_watch_list_text h3{
  font-size: 30px;
  font-family: 'Gloria Hallelujah', cursive;
  padding: 30px 0;
  text-align: left;
}
.tips_search{
  position: absolute;
  left: 0;
  top: 545px;
  text-align: center;
}
.tips_search p{
  margin: 0;
}
.closeTips{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}




/* Media queries*/

@media (max-width: 1023px) {
  .contact-wrapper{
    margin-bottom: 20px;
  }
  .header{
    max-width: 640px;
    margin: 0 auto;
  }
  .search input{
    margin-top: 0;
  }
  .time{
    margin-top: 11px;
  }

  .flex{
    display: block;
  }
  .cont {
    padding: 30px 10px;
  }
  .col-left {
    display: block;
    float: none;
    margin: 0 auto;
  }
  .col-right{
    display: block;
    margin: 0 auto;
    float: none;
    width: 100%;
    max-width: 640px;
  }
  .App-wrap {
    min-width: auto;
  }
  footer{
    position: relative;
  }
  .tips_overlay{
    display: none;
  }
  .tips{
    display: none;
  }
}
@media (min-width: 1024px){
  .col-right{
    width: 640px;
  }
}

@media (min-width: 1440px){
  .App-wrap{
    min-width: 1200px;
  }
  .tips_container{
    max-width: 1060px;
  }
  thead tr th{
    padding: 0;
  }
  .black_stripe{
    height: 36px;
  }
  .cont {
    padding: 30px 70px 60px;
}
}

@media (max-width: 500px){
  .header {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .header-left {
    margin: 0 auto;
  }
  .header-right {
    text-align: left;
    margin: 0 auto;
    width: 313px;
    order: -1;
  }
  .header-right a{
    margin: 0;
  }
  .time{
    display: none;
  }

  /*flexbox tables*/
  .group {
    flex-direction: column;
  }
  .group-left{
    flex-direction: row;
    flex-grow: 2;
  }
  .group-right-body .cell{
    box-shadow: 0 1px 0 0 #95989a;
    padding: 3px 0;
  }
  .group-right-body .cell:last-child{
    box-shadow: none;
    text-align: right;
  }
  .row .cell:first-child{
    flex: 1;
  }
  .row-body {
    margin:  0 10px;
    padding: 5px 0 ;
  }
  .row-head{
    padding: 10px 10px;
  }
  .expand-open{
    background: #c2c2c2;
  }

}

@media (max-width: 480px) {

  .cont {
    padding: 30px 0px;
  }
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
