.tabs{
  max-width: 994px;
  min-height: 40px;
  background: #000;
  opacity: 0.85;
  margin: 30px auto;
  position: relative;
}
.tab{
  display: inline-block;
  width: 24.8%;
  border: 1px solid #4E5357;
  border-radius: 5px 5px 0 0;
  height: 38px;
  position: relative;
}
.tabInner{
  padding-left: 20px;
}
.tab.active{
  border-color: #fff;
  width: 24.8%;
  transition: all 1s ease-in-out;
}
.tab.active .tabInner{
  padding-left: 0;
}
.tab.active .rename{
  display: inline-block;
}
.rename{
  display: none;
  width: 25px;
  height: 25px;
  margin: 5px 5px 7px 15px;
  cursor: pointer;
}
.tabs_name{
  background: transparent;
  border: 0;
  resize: none;
  overflow: hidden;
  outline: none;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 0;
  max-width: 175px;
  cursor: default;
}
.close_tab{
  width: 25px;
  height: 25px;
  position: absolute;
  right: 7px;
  top: 6px;
  cursor: pointer;
}
.add_tab{
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: -25px;

}
.addTab{
  display: inline-block;
}
