.tabs{
  max-width: 994px;
  min-height: 40px;
  background: #000;
  opacity: 0.85;
  margin: 50px auto 30px;
  position: relative;
}
.tab{
  display: inline-block;
  width: calc(25% - 2px);
  border: 1px solid #4E5357;
  border-radius: 0;
  height: 41px;
  position: relative;
  transition: 0.4s all ease-in-out;
}
.tabInner{
  /* /padding-left: 20px; */
  height: 38px;
  margin-left: -15px;
}
.tab.active{
  border-color: #fff;
  width: calc(25% - 2px);
}
.tab.active .tabInner{
  margin-left: 0px;
  transition: 0.4s all ease-in-out;
}
.tab.active .rename{
  visibility: visible;
}
.rename{
  /* display: none; */
  visibility: hidden;
  width: 25px;
  height: 25px;
  margin: 5px 5px 7px 15px;
  cursor: pointer;
}
.tabs_name{
  font-family: "Roboto", sans-serif;
  background: transparent;
  border: 0;
  resize: none;
  overflow: hidden;
  outline: none;
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  padding: 0;
  max-width: 175px;
  cursor: default;
}
.tabs_name:read-only{
  pointer-events: none;
}
.close_tab{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 7px;
  top: 10px;
  cursor: pointer;
}
.add_tab{
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  cursor: pointer;
}
.addTab{
  padding: 3px 5px;
  border: 1px solid #4E5357;
  background: #000;
  position: absolute;
  left: 0;
  top: -32px;
}
